@import "fontSize";
@import "fontFamily";


.text-transform-uppercase{
    text-transform: uppercase;
}

.text-transform-capitalize{
    text-transform: capitalize;
}

.text-transform-lowercase{
    text-transform: lowercase;
}

.text-transform-initial{
    text-transform: initial;
}
