.display-flex{   
    display: flex !important;
}
.flex-1{   
    flex: 1;
}
.display-flex-direction-column{   
    flex-direction: column;
}
.flex-direction-column{   
    flex-direction: column;
}
.display-flex-j-c{
    display: flex;
    justify-content: center;
}

.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}




.justify-content-center{
    justify-content: center;
}

/* text-sm-end */

@media (min-width: 576px){
    .justify-content-sm-center{
        justify-content: center;
    
    }
}

@media (min-width:768px){
    .justify-content-md-center{
        justify-content: center;
    
    }
}
@media (min-width: 992px){
    .justify-content-lg-center{
        justify-content: center;
    
    }
}
@media (min-width: 1200px){
    .justify-content-lg-center{
        justify-content: center;
    
    }
}
@media (min-width: 1400px){
    .justify-content-lg-center{
        justify-content: center;
    
    }
}



.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-end{
    justify-content: end;
}


.no-wrap{
    flex-wrap: nowrap;   
}

.align-item-center{
    align-items: center;
}

.display-none{
    display: none !important;   
}

.opacity-0{
    opacity: 0; 
}
